{
	email {$ACME_EMAIL:admin@example.com}
}

{$APP_SITE_ADDRESS::80} {
	encode zstd gzip
	handle /api/* {
		reverse_proxy {$BACKEND_UPSTREAM:backend:8080}
	}
	handle_path /media/* {
		rewrite * /{$MEDIA_BUCKET:store}{path}
		reverse_proxy {$MEDIA_UPSTREAM:minio:9000}
	}
	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
